body {
	background-color: #F1F7F9;
	font-family: Helvetica;
	margin: 0;
	padding: 0;
}

li.nav {
  float: left;
}

ul.nav {
	list-style-type: none;
  	overflow: hidden;
  	background-color: #203A46;
	position: fixed;
	top: 0;
	width: 100%;
}
li.nav a {
	display: block;
  	color: white;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
}
li.nav a:hover {
  background-color: #F07167;
}
