body {
	background-color: #9DC3D2;
}

li.nav {
  float: left;
}

ul.nav {
	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
  	background-color: #203A46;
}

li.nav a {
	float: left;
	display: block;
  	color: white;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
}
