body {background-color: #30343F; font-family: Helvetica; margin: 0;}

li.nav {
	float: left;
}

ul.nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
  	overflow: hidden;
  	background-color: #273469;
	position: fixed;
	top: 0;
	width: 100%;
}
li.nav a {
	display: block;
  	color: white;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
}
li.nav a:hover {
  background-color: #4C63BD;
}

.container{
	margin-top: 50px;
	display: flex;
	width: 100%;
	height: 850px;
	flex-direction: column;
	overflow: hidden;
}

iframe.article {
	flex-grow: 1;
	border: none;
	margin: 0;
	padding: 0;
}
