body{
	font-family: Calibri;
	background-color: CFDEDE;
	margin: 0;
	padding: 0;
}

nav{
	width: 100%
}

a.nav:link, a.nav:visited {
  background-color: 264653;
  color: white;
  text-align: center;
  text-decoration: none;
}

a.nav:hover, a.nav:active {
  background-color: F07167;
}
